
  <div class="container text-center pt-5 mt-5">
    <input type="text"
    class="mb-2 border py-2 px-4 w-100"
    placeholder="Поиск товаров..."
    [(ngModel)]="term"
    >

    <p *ngIf="loading"
       class="text-center text-lg"
       >Загрузка...</p>


    <div class="body-style" *ngIf="products$ | async as products">

        <app-card-product


        *ngFor="let product of products | filterProducts: term; let i = index"
        [product]="product"
        >
      </app-card-product>



    </div>
  </div>

