@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@font-face {
  font-family: Madetheartist;
  src: url(assets/fonts/madetheartistscript/Madetheartistscript.ttf) format("opentype");
}


$font-family-sans-serif:
'Times New Roman', Times, serif;

  :root {
    --bs-body-font-family: $font-family-sans-serif;
  }

body {
  font-family: $font-family-sans-serif;
  background: url(/assets/img/bg1.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.margin-top {
  margin-top: 6rem;
}

.margin-bottom {
  margin-bottom: 6rem;
}

.card-product {
  width: 200px;
}

.img-card {
  display: block;
  padding: 20px;
  width: 100%;
  max-height: 250px;
}

.card-img {
height: 250px;

}


a {
  color: var(--gray-400-ground)!important;
  text-decoration: none!important;
}


.p-tabview .p-tabview-panels, .p-tabview-nav{
  background: #ffffff00;
  border: none
}

.p-tabview .p-tabview-nav li {
  border: none
}

@media (max-width: 900px) {

}
